/*Файл footer*/
.footer {}
.top {
	display: flex;
	@media (max-width: $md3+px){
		display: block;
	}
}
.top__column {
	flex:0 1 40%;
	&_b{
		flex:0 1 60%;
	}
}
.top__image {
	height: 100%;
	@media (max-width: $md3+px){
		display: none;
	}
}

.top__content {
	padding: 100px 40px 100px 70px;
	display: flex;
	@media (max-width: 1380px){
		padding: 80px 30px 80px;
	}
	@media (max-width: $md1+px){
		padding: 50px 30px;
	}
	@media (max-width: $md2+px){
		flex-wrap:wrap;
		padding: 20px 20px 5px;
	}
}
.top__item {
	flex:0 1 33.333%;
	padding: 0 45px;
	@media (max-width: 1380px){
		padding: 0 30px;
	}
	@media (max-width: $md1+px){
		padding: 0 10px;
		margin-bottom: 10px;
		flex:0 1 100%;

	}
}
.top__title {
	line-height: 11px;
	letter-spacing: -0.006em;
	color: #22356F;
	margin-bottom: 30px;
	@media (max-width: $md1+px){
		margin-bottom: 20px;
	}
}

@media (max-width: $md2+px){
	.top__title {
		margin-bottom: 15px;
		position: relative;
		padding: 0 0 0 30px;
		&:before,&:after{
			content: '';
			width: 10px;
			transition:all 0.3s ease 0s;
			height: 2px;
			background: #000;
			position: absolute;
			top: 4px;
		}
		&:before{
			left: 0;
			transform:rotate(40deg);
		}
		&:after{
			left: 7px;
			transform:rotate(-40deg);
		}
		&._active{
			
			&:before{
				left: 0;
				transform:rotate(-40deg);
				background: red;
			}
			&:after{
				left: 7px;
				transform:rotate(40deg);
				background: red;
			}
		}
	}
	.top__info {
		display: none;
	}
}
	
.top__info {
	line-height: 23px;
	letter-spacing: -0.006em;
	color: rgba(34, 53, 111, 0.5);
}
.top__contact{
	margin-top: 20px;
	@media (max-width: $md2+px){
		margin-top: 10px;
	}
}
.top__link {
	display: block;
}

.bottom {
	background: #62D0DF;
	padding: 30px 0;
	@media (max-width: $md3+px){
		text-align: center;
	}
}
.bottom__text {
	line-height: 11px;
	letter-spacing: -0.006em;
	color: #FFFFFF;
	padding: 0 0 0 20px;
	position: relative;
	&:before{
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		top: 1px;
		left: 0;
	}
}

/*--------------------*/